{% extends 'base.html' %}

{% block title%}
    Добавление рецепта
{% endblock%}

{% block body%}
<div class="container mt-5">
    <form method="post">
      <input type='text' id="name" name="name" class="form-control" required placeholder="Введите название рецепта"><br>
      <select class="form-control" name="category" required title="Категория">
          <option disabled selected>Выберите категорию</option>
          <option value="Завтрак">Завтрак</option>
          <option value="Обед" >Обед</option>
          <option value="Ужин">Ужин</option>
          <option value="Десерт">Десерт</option>
      </select><br>
      <input type='text' id="Ingredients" name="Ingredients" class="form-control" required placeholder="Введите ингридиенты"><br>
      <input type='text' id="steps" name="steps" class="form-control" required placeholder="Введите шаги приготовления"><br>
      <input type='number' id="time" name="time" class="form-control" required placeholder="Введите время приготовления в минутах"><br>
      <button type="submit" class="btn btn-success">Добавить</button>

    </form>
</div>

{% endblock%}